<dom-module id="vientos-footer">
  <template>
    <style>
      :host {
          @apply --fixed-bottom;
          @apply --vientos-toolbar;
          @apply --layout-horizontal;
          @apply --layout-flex;
          @apply --w-100;
          @apply --spaced-x;
          background-color: var(--vientos-color-footer);

       }

       app-toolbar {

         @apply --p-0;
         @apply --w-100;
         @apply --h-100;
       }

       /*app-toolbar, */
       iron-selector {
         /*@apply --fixed-bottom;*/
         @apply --w-100;
         @apply --h-100;

         @apply --spaced-x;
         @apply --vientos-typography-button-x;

       }

       #filter-button{

          /*@apply --center-y;*/
          @apply --layout-vertical;
          @apply --layout-center-justified;
          position: absolute;

          right: 0;
          bottom: 0;
          width: 6em !important;
          height: 6em !important;
          margin: 1em;
          /*padding: 1em;*/
          bottom: 4em !important;
          /*display: inline-block;*/
          @apply --w-100;
          border-radius: 50%;
          text-align: center;
          /*background-color: var(--app-footer-background-color);*/

          @apply --vientos-button;
          @apply --vientos-typography-button;
          background-color: var(--vientos-color-button-bg);
       }

      #filter-button iron-icon,
      #filter-button span {
        @apply --force-center;
      }

      #filter-button iron-icon {
        width: 18px;
        height: 18px;
        margin-bottom: 4px !important;
      }

      #filter-button span {
        height: auto !important;
        display: block !important;
      }

      vientos-icon-button {
        @apply --layout-flex;
      }



    </style>
     <app-toolbar>
        <iron-selector selected="{{page}}" attr-for-selected="name" role="navigation">

           <paper-button
           id="filter-button"
           name="filter"
           >
              <iron-icon icon="vientos:filter"></iron-icon>
              <paper-badge label="[[visibleProjects.length]]" for="filter-button"></paper-badge>
              <span>
                Filtros
              </span>
           </paper-button>

           <vientos-icon-button
           name="collaborations"
           text="Collaborations"
           icon="vientos:collaboration">
           </vientos-icon-button>

           <vientos-icon-button
           name="projects"
           text="Projects"
           icon="vientos:list">
           </vientos-icon-button>

           <vientos-icon-button
           name="map"
           text="Map"
           icon="vientos:map">
           </vientos-icon-button>


        </iron-selector>

     </app-toolbar>

  </template>
  <script src="vientos-footer.js"></script>
</dom-module>
