<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=no">

    <title>Vientos</title>
    <meta name="description" content="Vientos">

    <!--
      If deploying to a non-root path, replace href="/" with the full path to the project root.
      For example: href="/polymer-starter-kit/relative-path-example/"
    -->
    <base href="/">

    <link rel="icon" href="/images/favicon.ico">

    <!-- See https://goo.gl/OOhYW5 -->
    <link rel="manifest" href="/manifest.json">

    <!-- See https://goo.gl/qRE0vM -->
    <meta name="theme-color" content="#62a24c">

    <!-- Add to homescreen for Chrome on Android. Fallback for manifest.json -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Vientos">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="no">
    <meta name="apple-mobile-web-app-status-bar-style" content="#62a24c">
    <meta name="apple-mobile-web-app-title" content="Vientos">

    <!-- Homescreen icons -->
    <link rel="apple-touch-icon" href="/images/manifest/vientos-48x48.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/manifest/vientos-72x72.png">
    <link rel="apple-touch-icon" sizes="96x96" href="/images/manifest/vientos-96x96.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/manifest/vientos-144x144.png">
    <link rel="apple-touch-icon" sizes="192x192" href="/images/manifest/vientos-192x192.png">

    <!-- Tile icon for Windows 8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="/images/manifest/vientos-144x144.png">
    <meta name="msapplication-TileColor" content="#62a24c">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- Load webcomponents-loader.js to check and load any polyfills your browser needs -->
    <script src="bower_components/webcomponentsjs/webcomponents-loader.js"></script>

    <style media="screen">
      body {
        margin: 0;
        font-family: 'Source Sans Pro', sans-serif;
        line-height: 1.5;
        height: 100vh;
        background-color: #f3f5f3;
      }
    </style>
  </head>
  <body>
    <vientos-shell></vientos-shell>
    <noscript>
      Please enable JavaScript to view this website.
    </noscript>
  </body>
</html>
