<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/vientos-iconset/vientos-iconset.html">
<link rel="import" href="../../vientos-styles/vientos-styles.html">

<dom-module id="vientos-icon-button">
  <template>
    <style include="vientos-styles">
    :host{
      display: inline-block;
      font-weight: 300;
      --vientos-icon-button-font-size: 16px;
      --vientos-icon-button-w: 100%;
    }

    paper-button {
      min-width: 0;
      padding: 5px !important;
      margin: 0 !important;
      @apply --p-0;
      @apply --center-y;
      background-color: var(--vientos-icon-button-bg-color);
      height: inherit;
      text-align: center;
      font-size: var(--vientos-icon-button-font-size);
    }

    iron-icon {
      --iron-icon-fill-color: var(--vientos-icon-color);
    }

    iron-icon {
      width: 32px;
      height: 20px;
      margin-bottom: 5px;
    }

    div {
      font-size: var(--vientos-icon-button-font-size);
      @apply --vientos-icon-button-text;
      width: var(--vientos-icon-button-w);
      line-height: 1em;
    }

  </style>

  <paper-button raised="[[raised]]" active="[[active]]" disabled="[[disabled]]" toggles="[[toggles]]">
       <template is="dom-if" if="[[icon]]">
         <iron-icon icon="[[icon]]"></iron-icon>
       </template>
       <div>[[text]]</div>
  </paper-button>

  </template>
  <script src="vientos-icon-button.js"></script>
</dom-module>
