<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../bower_components/paper-toggle-button/paper-toggle-button.html">

<link rel="import" href="../../../bower_components/vientos-iconset/vientos-iconset.html">

<link rel="import" href="../../vientos-styles/vientos-styles.html">

<link rel="import" href="../vientos-icon-button/vientos-icon-button.html">

<dom-module id="vientos-categories-selector">
  <template>
    <style include="vientos-styles">

    </style>

    <template is="dom-repeat" items="[[categories]]">
      <paper-toggle-button toggles checked="[[_isInSelected(item, selection)]]" on-tap="_toggleCategory">
        <iron-icon icon="[[_iconFor(item)]]"></iron-icon>
        [[localize(item.id)]]
      </paper-toggle-button>
    </template>

  </template>
  <script src="vientos-categories-selector.js"></script>
</dom-module>
